.blockForButtonAddCover {
    background-color: #FFF;
    display: flex;
    border-radius: 15px;
    width: 85vh;
    height: 69px;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 35px;
  }

  .iconAddCover {
    margin-right: 12px;
  }

  .btnDialogForAddCover {
    width: 241px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    cursor: pointer;
  }

.btnDialogForAddCover:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}  

  .btnTextForAddCover {
    color: #000;
    font-family: SF UI Display Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .channel_block {
    display: flex;
    flex-direction: column;
  }

  .blockForMyChannelInfo {
    width: 100vh;
    background-color: #FFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
  }

  .blockForMyChannelInfo_cover {
    border-radius: 0 0 15px 15px;
    width: 100%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 0 25px 25px 25px;
    box-sizing: border-box;
  }  

  .blockForTopButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .imgChannel {
    width: 80px;
    height: 80px;
    border-radius: 14px;
    border: 3px solid #FFF;
    object-fit: cover;
  }

  .blockicon {
    position: absolute;
    display: none;
  }

  .iconChangedAndText {
    position: absolute;
    display: none;
    margin-top: 10px;
  }

  .iconChangedAndTextFormEdit {
    position: absolute;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .block_for_components_articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }


  .changedText {
  color: #FFF;
  margin-top: 15px;
  }

  .hoverBlockImg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    cursor: pointer;
    margin-top: -25px;
  }

  .hoverBlockImg:hover {
    background: rgba(196, 196, 196, 0.40);
  }

  .hoverBlockImg:hover .iconChangedAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blockForImgCoverChannel:hover .iconChangedAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .blockForImgCoverChannel:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .hoverBlockImg:hover .blockicon {
    display: block;
  }

  .blockicon {
    display: flex;
    justify-content: center;
  }

  #iconChangedAvatar {
    margin-bottom: 20px;
  }

  #iconChangedAvatarFormEdit {
    margin-bottom: 0px;
  }

  .changedTextFormEditAvatar {
    margin-top: 0px;
    color: #FFF;
  }

  #iconChangedAvatarCover {
    margin-bottom: 20px;
  }

  .btnsChangeAndTheme {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* position: absolute;
    right: 25px; */
    z-index: 1000000;
  }

  /* Анимация для окна редактирования канала */
  .fadeBtns-enter {
    opacity: 0;
  }
  
  .fadeBtns-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fadeBtns-exit {
    opacity: 1;
  }
  
  .fadeBtns-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }


  .buttonChange {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    margin-bottom: 13px;
    cursor: pointer;
  }

  .buttonChange:hover {
    border: 1px solid #0091D5;
    cursor: pointer;

  }

  .buttonChange:hover .buttonChangeSvg path {
    fill: #0091D5;
  }

  .buttonSelectTheme {
    border-radius: 5px;
    background: #0091D5;
    padding: 8px 15px 8px 15px;
    color: #FFF;
    font-size: 14px;
    font-family: SF UI Display Regular;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
    height: 34px;
    box-sizing: border-box;
  }

  .buttonSelectTheme:hover {
    background: rgba(0, 0, 0, 0.60);
  }

  .blockBtnsForSelect {
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    position: absolute;
    margin-left: -90px;
  }

  .blockForIconChangeAndAvatar {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
  }

  .iconAndTextFormEditAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    width: inherit;
    cursor: pointer;
  }

  .imgChannelEditForm {
    border: 3px solid #fff;
    border-radius: 14px;
    height: 80px;
    width: 80px;
  }

  .btnEditChannel, .btnChangeChannel {
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }

  .btnEditChannel {
    margin-bottom: 13px;
  }

  .btnEditChannel:hover {
    color: #0091D5;
    cursor: pointer;
  }

  .btnChangeChannel:hover {
    color: #0091D5;
    cursor: pointer;
  }

  .titleChannel {
    color: #151D2D;
    font-family: SF UI Display Regular;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
  }

  .changeDescript {
    color: #3766A9;
    font-family: SF UI Display Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .authorChannel {
    color: #151D2D;
    font-family: SF UI Display Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 53px;
    display: flex;
    align-items: center;
  }

  .listAuthors {
    display: flex;
    margin-left: 10px;
  }

  .ulListAuthors {
    padding-left: 0;
    display: flex;
  }

  .liListAuthors {
    margin-right: 10px;
  }

  .nameAuthor {
    color: #3766A9;
    font-family: SF UI Display Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .linkAuthor {
    text-decoration: none;
  }

  .tabsForCommentsOrArticles {
    display: flex;
    justify-content: start;
  }

  .nameTab {
    color: #000;
    font-family: SF UI Display Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 11px;
    cursor: pointer;
    margin-right: 34px;
  }

  .nameTab_active {
    border-bottom: 2px solid #0091D5;
    cursor: pointer;
    margin-right: 34px;
    color: #000;
    font-family: SF UI Display Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 11px;
    cursor: pointer;
  }

  .blockForCreateArticle {
    border-radius: 15px;
    background: #FFF;
    margin-top: 35px;
    padding: 25px;
    box-sizing: border-box;
  }

  .topBlockTitle {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
  }

  .avatarBlock {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 20px;
  }

  .imgChannelAvatar {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    margin-right: 20px;
  }

  .channelDescript {
    color: #151D2D;
    font-family: SF UI Display Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;
    margin-bottom: 30px;
  }

  .btnNewPost {
    color: rgba(0, 0, 0, 0.80);
    font-family: SF UI Display Regular;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }

  .btnNewPost:hover {
    color: #FFAE00;
  }

  .blockForBtnsPhotoAndLink {
    display: flex;
    align-items: center;
  }

  .btnPhotoVideo {
    display: flex;
    margin-right: 10px;
    border-radius: 100px;
    background: rgba(51, 51, 51, 0.06);
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
  }

  .btnPhotoVideo:hover {
    background: rgba(51, 51, 51, 0.15);
  }

  .iconPhotoAndVideo, .iconLink {
    margin-right: 10px;
  }

  .textBtn {
    color: rgba(0, 0, 0, 0.60);
    font-family: SF UI Display Regular;
    font-size: 14px;
    font-weight: 400;
  }

  .blockCreateFirstArticle {
    background: #FFF;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 35px;
    padding: 90px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .descriptCreateFirstArticle {
    color: #000;
    font-family: SF UI Display Regular;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  .btnCreateFirstArticle {
    border-radius: 6px;
    background: #0091D5;
    color: #FFF;
    padding: 8px 24px 8px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .btnCreateFirstArticle:hover {
    background: rgba(0, 0, 0, 0.60);
  }

  .blockForMyChannelArticles {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .createAndNewArticles {
    width: 60%;
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  }

  .blockForSubscriber {
    width: 33%;
    background: #FFF;
    margin-top: 35px;
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 206px;
  }

  .blockForTitlesSubsriberAndCount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .titleBlocksubscriber {
    color: #000;
    font-family: SF UI Display Bold;
    font-size: 16px;
    font-weight: 700;
  }

  .countBlocksubscriber {
    color: rgba(0, 0, 0, 0.60);
    font-family: SF UI Display Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .cardSubscriber {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin-right: 14px;
  margin-bottom: 14px;
  }

  .blockWithPhotosSubscribers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  .imgSubsriber {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 3px;
  }

  .blockForMyReadyArticles {
    margin-top: 35px;
  }

  .cardMyArticles {
    border-radius: 15px;
    background: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .titleCardMyArticle {
    display: flex;
    align-items: center;
  }

  .avatarChannel {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .channelTheme {
    cursor: pointer;
  }

  .channelTheme:hover {
    cursor: pointer;
  }

  .iconTheme path {
    cursor: pointer;
    stroke: #0091D5;
    stroke-width: 1.5;
  }

  .iconTheme:hover path {
    stroke-width: 1.5;
    fill: #0091D5;
    stroke: #FFF;
  }

  .imgAvatarChannelArticle {
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: 4px;
  }

  .nameChannel {
    margin-right: 10px;
    color: #000;
    font-family: SF UI Display Regular;
    font-size: 14px;
    font-weight: 400;
  }

  .channelTheme, .articleTimeAgo {
    color: rgba(0, 0, 0, 0.50);
    font-family: SF UI Display Regular;
    font-size: 14px;
    font-weight: 400;
    margin-right: 25px;
  }

  .titleForArticle {
    color: #000;
    font-family: SF UI Display Regular;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
  }

  .textShortForArticle {
    color: #000;
    font-family: SF UI Display Regular;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
  }

  .blockForStatisticArticle {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }

  .likesCountForArticle, .commentsCountForArticles, .bookmarksCountForArticles {
    display: flex;
    margin-right: 27px;
  }

  .likeIconArticle, .iconComments, .iconBookmarks {
    margin-right: 8px;
  }

  .textStatistic {
    color: rgba(0, 0, 0, 0.65);
    font-family: SF UI Display Regular;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.6;
  }

  .blockForComments {
    border-radius: 15px;
    background: #FFF;
    /* margin-top: 35px; */
    box-sizing: border-box;
    padding: 25px;
  }

  .componentComment {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    margin-bottom: 25px;
  }

  .titlePost {
    color: #000;
    font-family: SF UI Display Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .blockWithAythorCommentAndTime {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  .authorComment {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  .avatarAuthorComment {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .imgAvatarAuthorComment {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    object-fit: contain;
  }

  .nameAuthorCommet {
    color: #000;
    font-family: SF UI Display Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .timeAgoCreateComment {
    color: rgba(0, 0, 0, 0.50);
    font-family: SF UI Display Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .textComment {
    margin-top: 20px;
    color: #000;
    font-family: SF UI Display Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .btnAnswer {
    margin-top: 30px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.50);
    font-family: SF UI Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .btnAnswer:hover {
    color: #3766A9;
  }

  .imgCoverChannel {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .blockForImgCoverChannel {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .blockForImgCoverChannelFormEdit {
    width: 85vh;
    height: 230px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blockForActionsOtherChannel {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    margin-bottom: -18px;
  }

  .btnsPopularAndNew {
    display: flex;
    flex-direction: row;
  }

  .btnPopularOrNew {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    margin-right: 37px;
  }

  .blockForTagsAndAnother {
    display: flex;
  }

  .blockForTags {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
  }

  .blockForTags li {
    margin-right: 15px;
  }

  .btnAnother {
    display: flex;
    align-items: center;
  }

  .btnAnotherText {
    color: #000;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 8px;
  }

  .blockForFormEdit{
  display: block;
  position: fixed;
  z-index: 100;
  width: 100vh;
  top: 0;
  left: 26.3%;
  height: 95%;
  overflow-y: auto;
}

.GrayMaskForFormEdit {
  height: 100vh;
  width: 100%;
  /* z-index: 18996; */
  position: fixed;
  right: auto;
  left: 0px;
  top: 0px;
  background-color: rgba(142, 142, 143, 0.6);
}

.avatarChannelButtonFormEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-top: -45px;
}

.backgroundBlockForm {
  background: #FFF;
  /* display: flex; */
  width: 85vh;
  padding: 0 48px 48px 48px;
  box-sizing: border-box;
  border-radius: 0 0 14px 14px;
}

.blockForInfoFormEdit {
  margin-top: 20px;
}

.titleAndCloseFormEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.titleFormEdit {
  color: #151D2D;
  font-size: 24px;
  font-family: SF UI Display Bold !important;
  font-weight: 500;
}

.btnCloseFormEdit {
  cursor: pointer;
}

.inputsInfoEditForm {
  margin-bottom: 20px;
}

.titleInputFormEdit {
  font-size: 16px;
  color: #151D2D;
  margin-bottom: 10px;
}

.titleInputFormEdit {
  color: #151D2D;
  font-size: 16px;
  margin-bottom: 10px;
}

.inputStyleBlockFormEdit {
  border: 1px solid #C0C0C0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.inputFormEdit {
  border: none;
  font-size: 16px;
  width: 90%;
}

.outputFormEdit {
  border: none;
  font-size: 16px;
  color: #C0C0C0;
}

.authorsBlock {
  padding-left: 0;
  display: flex;
  margin: 0;
}

.liBlockAuthor {
  display: flex;
  padding: 3px;
  background: #EEE;
  align-items: center;
  margin-right: 5px;
}

.authorName {
  color: #151D2D;
  font-size: 14px;
  margin-right: 5px;
}

.DeleteauthorName {
  padding: 3px;
  background: #D9D9D9;
  cursor: pointer;
}

.inputFormEditAddAuthor {
  width: 50%;
  text-align: end;
  border: none;
  font-size: 16px;
  color: #C0C0C0;
}

.blockForThemes {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #E6E6E6;
  margin-top: 40px;
}

.titlesBlockThemes {
  color: #151d2d;
  font-family: SF UI Display Bold !important;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

.textDescriptThemes {
  color: #151D2D;
  font-size: 16px;
  margin-bottom: 30px;
}

.allThemesBlock {
  display: flex;
  justify-content: flex-start;
}

.radioLabel {
  border: 0.5px solid #C0C0C0;
  padding: 10px;
  cursor: pointer;
  color: #151D2D;
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
}

.blockButtonsSaveAndDel {
  display: flex;
}

.btnSaveChannel {
  width: 146px;
  height: 36px;
  margin-right: 35px;
  color: #FFF;
  background-color: #0091D5;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSaveChannel:hover {
  background-color: #3f3f3e;
}

.btnDeleteChannel {
  width: 146px;
  height: 36px;
  color: #FFF;
  background-color: #C7C7C7;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnDeleteChannel:hover {
  background-color: #3f3f3e;
}

 /* Форма редактирования обложки канала */

 .blockDialogForEditCover {
  width: 50%;
  position: fixed;
  z-index: 101;
  height: 70%;
  top: 0;
  left: 25%;
  background-color: #FFF;
  right: 20%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 0 #4c4e4f;
}

.btn_save_photo {
  position: relative;
  z-index: 10000;
  top: -20%;
}

.title_and_close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.blockForMyCoverEdit {
  position: absolute;
  z-index: 1001;
}

.title_edit_cover {
  color: #313a4a;
  font-family: SF UI Display Bold !important;
  font-size: 18px;
}

.btn_close_dialogEditCover {
  cursor: pointer;
}

.text_editor {
  font-size: 16px;
  margin-bottom: 20px;
}

.block_for_cropper {
  margin-top: 20px;
  box-sizing: border-box;
}
