.HeaderTitle{
    color: #151D2D;
    font-family: SF UI Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.HeaderTitleLXP{
    font-weight: 700;
}
.HeaderIcon{
    margin-right: 10px;
}
.HeaderLeft {
    display: flex;
    align-items: center;
    width: 196px;
    margin-right: 70px;
}
.HeaderSearch{
    width: 528px;
    height: 19px;
    border-radius: 9px;
    background: rgba(0, 0, 0, 0.06);
    border: none;
    padding: 11px 20px;
    color: #151D2D;
}
.HeaderSearch:focus{
    outline: none;
}
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}
.HeaderButton{
    border-radius: 9px;
    background: #0091D5;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 301px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 35px;
}
.HeaderButton:hover{
    background: rgba(0, 0, 0, 0.60);
}
.TabElement{
    padding: 11px 0 11px 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 177px;
    cursor: pointer;
}
.TabElement svg{
    margin-right: 10px;
}
.TabElement:hover{
    background-color: #0091D5;
    color: #FFF;
}
.TabElement:hover .NewsIcon path, .TabElement:hover .PopularIcon path{
    fill: #FFF;
}
.TabElement:hover .SubscribesIcon path, .TabElement:hover .ChannelsIcon path, .TabElement:hover .SavedIcon path{
    stroke: #FFF;
}
.TabElement:hover .SubscribesIcon rect, .TabElement:hover .SubscribesIcon line{
    stroke: #FFF;
}

.ChannelElement{
    list-style: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 11px 0 11px 15px;
    width: 177px;
    display: flex;
    align-items: center;
}
.channelIconLeft{
    margin-right: 15px;
}
.TabMenu{
    margin-bottom: 60px;
    margin-top: 0px;
    padding-left: 0;
}
.ChannelsLeftMenu{
    padding-left: 0;
}
.MainPage {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
}
.PopularAutors {
    width: 301px;
    border-radius: 15px;
    background: #FFF;
    padding: 20px;
    box-sizing: border-box;
}
.PopularAutorsHeader {
    display: flex;
    color: #151D2D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 27px;
}
.PopularAutorsHeader svg{
    margin-right: 15px;
}

.mainContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.PostCard{
    width: 568px;
    height: 272px;
    border-radius: 15px;
    background: #FFF;
    box-sizing: border-box;
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;
}
.LeftZone {
    margin-right: 70px;
    width: 196px;
}
.MainZone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.RightZone {
    margin-left: 35px;
}

.channelBlock {
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.leftHeader {
    display: flex;
    align-items: center;
}
.cardKnowledge{
    margin-right: 11px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cardTime{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}
.channelPict{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 11px;
}
.buttonSubscribe{
    color: #0091D5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: unset;
    border: unset;
    cursor: pointer;
}
.channelName{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cardTitle{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}
.cardDesc{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottomZone{
    display: flex;
}
.numberCount{
    color: rgba(0, 0, 0, 0.65);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    margin-right: 26px;
}
.likesCount, .commentsCount, .favouriteCount{
    display: flex;
    align-items: center;
}
.AutorPict{
    width: 34px;
    height: 34px;
    border-radius: 8px;
    margin-right: 11px;
}
.AutorName,.AutorRate{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.AutorElement{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
}
.AutorLeft{
    display: flex;
    align-items: center;
}
.news_observer{
    width: 100%;
}

.blockForButtonAddCover {
    width: 100%;
    background-color: #FFF;
    display: flex;
    border-radius: 15px;
  }

  .iconAddCover {
    width: 10px;
    height: 10px;
    margin-right: 12px;
  }

