.HeaderTitle{
    color: #151D2D;
    font-family: SF UI Display;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.HeaderTitleLXP{
    font-weight: 700;
}
.HeaderIcon{
    margin-right: 10px;
}
.HeaderLeft {
    display: flex;
    align-items: center;
    width: 196px;
    margin-right: 70px;
}
.HeaderSearch{
    background-color: rgba(0,0,0,.06) !important;
    border: unset !important;
    border-radius: 9px !important;
    box-sizing: border-box;
    height: 41px;
    padding: 0 20px !important;
    width: 568px;
    box-shadow: unset !important;
}
.HeaderSearch:focus{
    outline: none;
    border: unset;
}
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}
.HeaderButton{
    border-radius: 9px;
    background: #0091D5;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 301px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 35px;
}
.HeaderButton:hover{
    background: rgba(0, 0, 0, 0.60);
}
.TabElement{
    padding: 11px 0 11px 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 177px;
    cursor: pointer;
    color: rgba(21, 29, 45, 1);
    border-radius: 5px;
    margin-bottom: 10px;
}
.TabElementSelected{
    padding: 11px 0 11px 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 177px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.06);
    color: rgba(21, 29, 45, 1);
    border-radius: 5px;
    margin-bottom: 10px;
}
.TabElement svg{
    margin-right: 10px;
}
.TabElementSelected svg{
    margin-right: 10px;
}
.TabElement:hover{
    background-color: #0091D5;
    color: #FFF;
}
.TabElement:hover .NewsIcon path, .TabElement:hover .PopularIcon path{
    fill: #FFF;
}
.TabElement:hover .SubscribesIcon path, .TabElement:hover .ChannelsIcon path, .TabElement:hover .SavedIcon path{
    stroke: #FFF;
}
.TabElement:hover .SubscribesIcon rect, .TabElement:hover .SubscribesIcon line{
    stroke: #FFF;
}

.TabElementSelected .NewsIcon path, .TabElementSelected .PopularIcon path{
    fill: rgba(0, 145, 213, 1);
}
.TabElementSelected .SubscribesIcon path, .TabElementSelected .ChannelsIcon path, .TabElementSelected .SavedIcon path{
    stroke: rgba(0, 145, 213, 1);
}
.TabElementSelected .SubscribesIcon rect, .TabElementSelected .SubscribesIcon line{
    stroke: rgba(0, 145, 213, 1);
}

.ChannelElement{
    list-style: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 11px 0 11px 15px;
    width: 177px;
    display: flex;
    align-items: center;
}
.channelIconLeft{
    margin-right: 15px;
    border-radius: 4px;
    object-fit: cover;
}
.TabMenu{
    margin-bottom: 60px;
    margin-top: 0px;
    padding-left: 0;
}
.ChannelsLeftMenu{
    padding-left: 0;
}
.MainPage {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
}
.PopularAutors {
    width: 301px;
    border-radius: 15px;
    background: #FFF;
    padding: 20px;
    box-sizing: border-box;
}
.PopularAutorsHeader {
    display: flex;
    color: #151D2D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 27px;
}
.PopularAutorsHeader svg{
    margin-right: 15px;
}
.CommentsHeader {
    display: flex;
    color: #151D2D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 27px;
}
.CommentsHeader svg{
    margin-left: 15px;
}

.mainContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.PostCard{
    width: 568px;
    min-height: 272px;
    height: auto;
    border-radius: 15px;
    background: #FFF;
    box-sizing: border-box;
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;
}
.LeftZone {
    margin-right: 70px;
    width: 196px;
    position: sticky;
    top: 8px;
}
.MainZone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.RightZone {
    margin-left: 35px;
    position: sticky;
    top: 8px;
}

.channelBlock {
    display: flex;
    align-items: center;
    margin-right: 11px;
    width: 136px;
}

.leftHeader {
    display: flex;
    align-items: center;
}
.cardKnowledge{
    margin-right: 11px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
margin-right: 50px;
cursor: pointer;
position: relative;
}
.mapTitleWindow {
    position: absolute;
    width: max-content;
    background: #fff;
    top: 28px;
    padding: 8px;
    box-shadow: 4px 4px 10px #00000026;
    border-radius: 8px;
    left: -18px;
}
.mapTitleWindow::before {
    border: 10px solid #0000;
    border-bottom: 6px solid #fff;
    content: "";
    position: absolute;
    left: 17px;
    top: -14px;
}
.cardTime{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}
.channelPict{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 11px;
    object-fit: cover;
}
.buttonSubscribe{
    color: #0091D5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: unset;
    border: unset;
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;
}
.channelName{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cardTitle{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}
.cardDesc{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottomZone{
    display: flex;
}
.numberCount{
    color: rgba(0, 0, 0, 0.65);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    margin-right: 26px;
}

.numberCount_active{
    color: rgba(255, 0, 0, 0.81);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    margin-right: 26px;
}

.numberCount_favourite_active{
    color: #4EACD9;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    margin-right: 26px;
}

.likesCount, .commentsCount, .favouriteCount{
    display: flex;
    align-items: center;
}
.likesCount svg{
    cursor: pointer;
}
.likeCount_active{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.likeCount_active svg{
    stroke: rgba(255, 0, 0, 0.81);
}

.favouriteCount{
    cursor: pointer;
}
.AutorPict{
    width: 34px;
    height: 34px;
    border-radius: 8px;
    margin-right: 11px;
    object-fit: cover;
}
.AutorName,.AutorRate{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}
.AutorName:visited{
    color: #000;
}
.AutorElement{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}
.AutorLeft{
    display: flex;
    align-items: center;
}
.news_observer{
    width: 100%;
}

.blockForButtonAddCover {
    width: 100%;
    background-color: #FFF;
    display: flex;
    border-radius: 15px;
  }

  .iconAddCover {
    width: 10px;
    height: 10px;
    margin-right: 12px;
  }

.AutorPictSkelet{
    border-radius: 8px;
    height: 34px;
    margin-right: 11px;
    width: 34px;
    --bg-size: 500%;
    --color-one: gray;
    --color-two: white;
    font-size: clamp(3rem, 25vmin, 8rem);
    background: linear-gradient(
        100deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: content-box;
}
.AutorNameSkelet{
    width: 155px;
    height: 17px;
    --bg-size: 500%;
    --color-one: gray;
    --color-two: white;
    font-size: clamp(3rem, 25vmin, 8rem);
    background: linear-gradient(
        100deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: content-box;
    border-radius: 4px;
}
.UniversalSkelet{
    --bg-size: 500%;
    --color-one: gray;
    --color-two: white;
    font-size: clamp(3rem, 25vmin, 8rem);
    background: linear-gradient(
        100deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    /* background-clip: content-box; */
}
@media (prefers-reduced-motion: no-preference) {
    .AutorNameSkelet {
      animation: move-bg 10s linear infinite;
    }
    .AutorPictSkelet {
      animation: move-bg 10s linear infinite;
    }
    .UniversalSkelet {
      animation: move-bg 10s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
.TabMenu {
    width: 196px;
}
.subscription_block{
    background: #fff;
    width: 100%;
    border-radius: 15px;
    padding: 28px 25px;
}
.subscription_list{
    padding: unset;
    margin: unset;
}
.subscribe_element{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 20px;
    justify-content: space-between;
}
.channel_icon{
    border-radius: 4px;
    margin-right: 15px;
    object-fit: cover;
}
.channel_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 19.09px;
}
.subscribe_left_zone {
    display: flex;
    align-items: center;
}
.subscribe_button{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.author_pict{
    display: flex;
}
.author_pict_img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 8px;
}
.comment_header_left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.comment_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment_time{
    color: rgba(0, 0, 0, 0.5);
}
.author_fullname{
    line-height: 16.71px;
}
.comment_text{
    margin: 8px 0;
    line-height: 16.71px;
}
.post_name{
    font-weight: 700;
    line-height: 16.71px;
}
.comment_element{
    margin-top: 27px;
}

.postImg{
    width: 528px;
    object-fit: contain;
    border-radius: 10px;
}
.postImgBlock{
    margin: 15px 0;
}

.PostPage{
    align-items: flex-start;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.postBody{
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 54px;
    width: 904px;
    box-sizing: border-box;
}
.backBlock{
    display: flex;
}
.BackIcon{
    margin-right: 24px;
    cursor: pointer;
}
.postText{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.09px;
}
.bodyText{
    white-space: pre-wrap;
}
.postImages{
    margin: 40px 0;
}
.postImage{
    width: 100%;
}
.recommend_title{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
    color: #595959;
    margin-top: 20px;
    padding-left: 20px;
}
.recommend_icon_img{
    border-radius: 4px;
    object-fit: cover;
}
.recommends_list{
    margin: unset;
    padding: unset;
}
.recommend_element{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
    box-sizing: border-box;
}
.recommend_left{
    display: flex;
}
.channel_desc{
    margin-top: 6px;
}
.recommend_icon{
    margin-right: 15px;
}
.button_subscribe{
    width: 170px;
    height: 27px;
    border-radius: 6px;
    background-color: #0091D5;
    color: #FFF;
    margin: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    padding: 0;
}
.button_unsubscribe{
    width: 170px;
    height: 27px;
    border-radius: 6px;
    background-color: unset;
    color: #000000;
    margin: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0;
}
.block_button_icon_unsubscribe{
    margin-right: 4px;
}
.button_unsubscribe:hover{
    background-color: unset !important;
    color: #000000 !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
}
.block_button_icon{
    margin-right: 4px;
    margin-top: 2px;
}
.NotFoundIcon{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NotFoundText{
    font-weight: 600;
    margin-top: 10px;
}
.NotFoundImg{
    transition: 0.4s;
}
.no_comments{
    color: rgba(0, 0, 0, .5);
}